{{> header}}

<h1>Endpoints</h1>

{{!-- <pre><code>{{json endpoints}}</code></pre> --}}

<nav class="endpoints">
    <ul>
        {{#each endpoints}}
            {{#each this.urls}}
                <li>
                    <a href="{{../this.path}}{{removeCurlyBraces this.params}}">{{../this.name}}{{this.params}}</a>
                    <span class="method">({{this.method}})</span>
                </li>
            {{/each}}
        {{/each}}
    </ul>
</nav>

{{> footer}}
